# Input/ Output - File, CSV, JSON

##File operation
###Write a file
- Step 1: Create the file

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
f = open("test.json","w")

You can write different kind of files by changing file name, 
like `name.txt`,`name.json`,`name.csv`. 

But different file has different ways to write and read.

‘w' means write.

In [3]:
f1 = open("test.csv","w")

- Step 2: Write content

In [4]:
f.write('python tutorial')
f.close()

f.close() to close the writing, this will close the instance of the file `test.json` stored.

- Read a file

You also need to open the file first and then read the content.

Syntax:

In [9]:
f = open("/menu.json", "r+")
contents=f.read() #read all
contents

'{\n    "menu": {\n      "breakfast": {\n        "id": "001",\n        "name": "Kahvaltı Tabağı",\n        "description": "2 adet yumurta, sucuk, domates, biber ve ekmek",\n        "price": 15.99\n      },\n      "lunch": {\n        "id": "002",\n        "name": "Etli Makarna",\n        "description": "Taze makarna ve et sosu",\n        "price": 12.99\n      },\n      "dinner": {\n        "id": "003",\n        "name": "Izgara Tavuk",\n        "description": "Izgara tavuk, sebzeler ve pilav",\n        "price": 18.99\n      }\n    }\n  }\n  '

##What does JSON looks like?

- Example 3

In [2]:
{
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "singing"],
    "age": 35,
    "children": [
        {
            "firstName": "Alice",
            "age": 6
        },
        {
            "firstName": "Bob",
            "age": 8
        }
    ]
}

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'sky diving', 'singing'],
 'age': 35,
 'children': [{'firstName': 'Alice', 'age': 6},
  {'firstName': 'Bob', 'age': 8}]}

Why to use JSON?

The advantages of JSON:

The data size is small. Compared with XML(another) file type to store and exchange data, JSON is small in size and faster in passing.
The transmission speed is fast. JSON is much faster than XML.
Data format is simple, easy to read and write, and the format is compressed.
Easy to use with python, JSON is a form of k-v structure.
In simple terms, JSON is a dict, which has keys, each key corresponds to a value. The middle is separated by : , the outermost is surrounded by {}, and the different key-value pairs are separated by ,. Example like this

In [3]:
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

If there is a case where a Key corresponds to multiple values, use [] to include all the corresponding values.

In [4]:
{'key1': ['v11', 'v12', 'v13'], 'key2': 'v22'}

{'key1': ['v11', 'v12', 'v13'], 'key2': 'v22'}

##JSON functions
`json.dumps`: Serialize object to a JSON formatted str
Syntax

`json.dumps(obj, skipkeys=False, ensure_ascii=True, check_circular=True, allow_nan=True, cls=None, indent=None, separators=None, encoding="utf-8", default=None, sort_keys=False, **kw)`

Don't be panic, we do not have to use those all parameters. Basically, you need to know those two.

If `sort_keys` is true (default: False), then the output of dictionaries will be sorted by key.
If `ensure_ascii` is true (the default), the output is guaranteed to have all incoming non-ASCII characters escaped like Chinese. If ensure_ascii is false, these characters will be output as-is.
 - Example: Convert Python object data into JSON string

In [2]:
import json

data = {
    'name' : 'ACME',
    'shares' : 100,
    'price' : 542.23
}
json_str = json.dumps(data)
json_str

'{"name": "ACME", "shares": 100, "price": 542.23}'

If you want to save the JSON string to a file, so that others can re-use this file, you can use `open() with the .write()` function to achieve that.

In [3]:
with open('json_data.json', "w") as f:
    f.write(json_str)
    f.close()

`json.loads`: Deserialize JSON str to a Python object

Syntax

`json.loads(s, *, encoding=None, cls=None, object_hook=None, parse_float=None, parse_int=None, parse_constant=None, object_pairs_hook=None, **kw)`

- Example: Parse JSON string to Python internal data structure.

In [4]:
json_str = '''
{
    "dataset": {
        "train": { "type": "mnist", "data_set": "train", "layout_x": "tensor" },
        "test": { "type": "mnist", "data_set": "test", "layout_x": "tensor" }
    }
}
'''

import json
result = json.loads(json_str)
result

{'dataset': {'train': {'type': 'mnist',
   'data_set': 'train',
   'layout_x': 'tensor'},
  'test': {'type': 'mnist', 'data_set': 'test', 'layout_x': 'tensor'}}}

`json.load` & `json dump`

Actually, if we want to convert between json file with python object. We can directly use `json.load` & `json.dump`. The difference between `loads` and `load` or `dumps` and `dump` is that you can get the string by using -s method. And sometimes, we need those strings to do other things instead of justing writing into files.

- Example: Converting between JSON file and Python object

In [5]:
stu = {
    "age": 20,
    "score": 88,
    "name": "Bob"
}
with open('stu.json', 'w') as f:
    json.dump(stu, f) #converting Python object to JSON file

Open the stu.json file, it will output like:

In [6]:
{"age": 20, "score": 88, "name": "Bob"}

{'age': 20, 'score': 88, 'name': 'Bob'}

In [7]:
with open('stu.json', 'r') as f:
     data = json.load(f) #converting JSON file to Python object
data

{'age': 20, 'score': 88, 'name': 'Bob'}

In [14]:
#Output:

{"age": 20, "score": 88, "name": "Bob"}

{'age': 20, 'score': 88, 'name': 'Bob'}

In [8]:
import json
print(json.dumps({'4': 5, '6': 7}, sort_keys=True, indent=4))
{
    "4": 5,
    "6": 7
}

{
    "4": 5,
    "6": 7
}

{'4': 5, '6': 7}